*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

.out
coverage.
*.cov

/bin/
/build/
/dist/
.cache/
.gocache/

.DS_Store
Thumbs.db
Desktop.ini
AppleDouble
.LSOverride
._*/

/.idea/
/idea/
/.idea/httpRequests/
httpRequests/

.env
.env.*.local
.secret
secrets/
*.key
*.pem

vendor/
Logs and temp
*.log
*.tmp

*.iml

*.properties
